GITHUB_API_BASE_URL=https://api.github.com
GITHUB_TOKEN=your_token_here
GITHUB_SEARCH_QUERY=test
GITHUB_SEARCH_BY_LANGUAGE=language:python
GITHUB_SEARCH_TOO_MANY_OPERATORS=testing AND python OR api AND javascript OR ruby NOT php AND java
GITHUB_OWNER=your_login_here
USER_LOGIN=your_login_here
USER_PASSWORD=your_password_here
